{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>
	  <table class="table table-dark table-striped table-hover">
          <thead>
                <tr>
                    {% for item in cafes[0] %}
                    <th scope="col">{{ item }}</th>
                    {% endfor %}
                </tr>
          </thead>
          <tbody>
                {% for row in cafes[1:] %}
                <tr>
                    <th>{{ row[0] }}</th>
                    <th><a href="{{ row[1] }}">Maps Link</a></th>
                    <th>{{ row[2] }}</th>
                    <th>{{ row[3] }}</th>
                    <th>{{ row[4] }}</th>
                    <th>{{ row[5] }}</th>
                    <th>{{ row[6] }}</th>
                </tr>
                {% endfor %}
          </tbody>
  	  </table>
      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>
{% endblock %}

